@import resetStyles
@import variables
@import buttonToTop
@import notFoundPage
@import header
@import services

.center-site
    padding-left: calc( 50% - $site-width / 2)
    padding-right: calc( 50% - $site-width / 2)

.logo-img
    height: 50px
    opacity: 0.7
    &_margin-top
        margin-top: 20px

.invisible
    display: none

.title
    font-size: 8vw

.heading
    font-size: 2vw

.subtitle
    font-size: 3.5vw
    text-align: center

.subtitle-size-4
    font-size: 2vw
    font-weight: 300
    &_weight-bold
        font-weight: bold
