* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
@keyframes btn-up-shadow {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.1529411765);
  }
}
.btn-to-top {
  position: fixed;
  z-index: 9999;
  right: 30px;
  bottom: 50px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.6;
  animation: btn-up-shadow 2s infinite alternate;
  transition: opacity 0.3s;
}
.btn-to-top:hover {
  opacity: 1;
  background-color: #fff;
}

.fas-btn-up {
  font-size: 24px;
  color: #2294c2;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-header {
  font-size: 60px;
}

.not-found-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
}

.not-found-text {
  font-size: 120px;
}

.not-found-img {
  height: 120px;
}

.header {
  background-color: #eff2f6;
  background-image: url("../img/header-3_a.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-top {
  height: 50px;
  margin: 0 30px;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__link {
  color: #fff;
  font-size: 1.5vw;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.nav__link:hover {
  border-color: #fff;
}

.phone {
  color: #fff;
  font-size: 1.5vw;
  justify-self: flex-end;
}

.header__info {
  min-height: 80vh;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.header-performance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  margin-right: 10%;
}

.title-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 50px;
  margin-bottom: 30px;
  color: #fff;
}

.services {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #eff2f6;
}

.services-wrapper {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.service-btn {
  color: #2294c2;
  font-size: 20px;
  opacity: 0;
  transition: all 0.7s;
  justify-self: flex-end;
  align-self: flex-start;
  transform: translateX(10px);
}
.service-btn__opacity-1 {
  opacity: 1;
}

.service-item {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(4, 1fr) 20px;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 32px;
  border-radius: 30px;
  transition: box-shadow 0.7s;
}
.service-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.062745098);
}
.service-item:hover .service-btn {
  transform: translateX(-5px);
  opacity: 1;
}

.fas-wrapper {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2294c2;
  border-radius: 50%;
}

.fa-img-styles {
  color: #2294c2;
  font-size: 24px;
}

.service-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.service-btn-back {
  color: #2294c2;
  font-size: 20px;
}

.for-children {
  padding-top: 48px;
  padding-bottom: 48px;
}

.for-children__card-box {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: 4% 2%;
  justify-content: center;
  margin-top: 48px;
}

.for-children__link {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
}
.for-children__link:hover {
  background-size: 110%;
}
.for-children__link_for-children-fight {
  background-image: url(../img/ARB-1.jpg);
  background-position: top;
}
.for-children__link_for-children-karate {
  background-image: url(../img/karate-1.jpg);
}
.for-children__link_for-children-swim {
  background-image: url(../img/swimming.jpg);
}
.for-children__link_for-children-football {
  background-image: url(../img/football.jpg);
}
.for-children__link_for-children-tennis {
  background-position: top;
  background-image: url(../img/tennis.jpg);
}
.for-children__link_for-children-ping-pong {
  background-image: url(../img/ping-pong.jpg);
}

.performance {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 48px;
  padding-bottom: 68px;
}
.performance__box {
  height: 500px;
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
}
.performance__item {
  width: 33%;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  justify-items: center;
  align-items: center;
  padding: 48px 12px;
}
.performance__list {
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer {
  background-color: #7c7b7b;
}
.footer__box {
  height: 300px;
  display: flex;
}
.footer__info {
  width: 50%;
  padding: 15px;
  color: #fff;
}
.footer__list {
  font-size: 22px;
  padding-left: 35px;
}
.footer__list > li {
  margin-top: 20px;
}
.footer__map {
  width: 50%;
  margin: auto;
}

.author {
  background-color: #000;
}
.author__box {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6039215686);
}

.pages-header {
  background-color: #eff2f6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}
.pages-header__heading-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages-header_for-children-fight {
  background-image: url("../img/mma-header-1.jpg");
}
.pages-header_for-children-karate {
  background-image: url("../img/karate-header-1.jpg");
}
.pages-header_for-children-swim {
  background-image: url("../img/pool_header-1.jpg");
}
.pages-header_for-children-football {
  background-image: url("../img/football-header-1.jpg");
}
.pages-header_for-children-tennis {
  background-image: url("../img/tennis-header.jpg");
}
.pages-header_for-children-ping-pong {
  background-image: url("../img/ping-pong-header-1.jpg");
}
.pages-header_news {
  background-image: url("../img/news.jpg");
}
.pages-header_honorBoard {
  background-image: url("../img/olympics-header-1.jpg");
}

.pages-heading {
  font-size: 7vw;
  text-transform: uppercase;
  color: #fff;
}

.coaches {
  padding-top: 48px;
  padding-bottom: 48px;
}

.coaches-wrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 24px;
}

.coach-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coach-photo {
  height: 350px;
}

.info-about-training {
  padding: 48px 0;
  background-color: #eff2f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.info-about-training__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.info-about-training__card {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  text-align: center;
}
.info-about-training__card_table {
  width: 100%;
}
.info-about-training__table {
  border-collapse: collapse;
  margin-top: 24px;
}
.info-about-training__table td, .info-about-training__table th {
  border: 1px solid #000;
  padding: 5px;
  font-size: 22px;
}

.news {
  padding: 64px 0;
}

.news-box {
  display: flex;
  margin-top: 64px;
}

.news-buttons {
  min-height: 100vh;
  padding: 12px;
  border-right: 1px solid #8d8d8d;
}

.news-btn {
  padding: 12px 0;
  display: flex;
  width: 350px;
  cursor: pointer;
}
.news-btn:hover {
  color: #8e909c;
}

.news-item {
  padding-left: 24px;
}

.honorBoard {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2%;
  justify-items: center;
  padding-top: 68px;
  padding-bottom: 68px;
}

.center-site {
  padding-left: calc(50% - 660px);
  padding-right: calc(50% - 660px);
}

.logo-img {
  height: 50px;
  opacity: 0.7;
}
.logo-img_margin-top {
  margin-top: 20px;
}

.invisible {
  display: none;
}

.title {
  font-size: 8vw;
}

.heading {
  font-size: 2vw;
}

.subtitle {
  font-size: 3.5vw;
  text-align: center;
}
.subtitle__t-align-left {
  text-align: left;
}

.subtitle-size-4 {
  font-size: 2vw;
  font-weight: 300;
}
.subtitle-size-4_weight-bold {
  font-weight: bold;
}
.subtitle-size-4_font-size-1 {
  font-size: 1.5vw;
}

.description {
  font-size: 24px;
  font-weight: 700;
}
.description_weigth-300 {
  font-weight: 300;
}

.horizontal-line {
  background-color: #2294c2;
  height: 2px;
  width: 30%;
}
.horizontal-line_white {
  background-color: #fff;
}

.vertical-line {
  width: 1px;
  height: 80%;
  background-color: #d6d6d6;
  align-self: center;
}

.cursor-pointer {
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */